*{
    margin: 0;
}
header{
    background-color: blue;
    color: white;
    text-align: center;
    height: 80px;
}
.nav{
    background-color: purple;
    color: white;
    height: 60px;
    text-align: center;
}
main{
    background-color: aqua;
    color: white;
    height: 550px;
    font-size: 100px;
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    font-size: large;
}